<div class="container">

    <div class="jumbotron">
        <h1>Select a Burger or Sandwich</h1>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <select data-placeholder="" id="newburger" name="burger">
                        <option value="Nothing Selected" selected>Please Select a Sandwich</option>
                        <option value="Hamburger">Hamburger</option>
                        <option value="Cheeseburger">Cheeseburger</option>
                        <option value="Italian">Italian</option>
                        <option value="BahnMi">Bahn Mi</option>
                        <option value="RoastBeef">Roast Beef</option>
                        <option value="Ham">Ham</option>
                        <option value="Turkey">Turkey</option>
                    </select>

                    <button type="submit" class="btn" id="addburger">
                        <span>Add</span>
                    </button>
                </div>
            </form>
        </panel>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Shopping Cart</strong>
                    <p>Send order to cashier when ready for pick up</p>
                </div>
                <div class="panel-body">

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}

                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span>Order</span></button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside"><strong>Orders Ready for Pick Up</strong>
                    <p>Remove when delivered</p>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="trashburger btn btn-danger" id="trashbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span>Delete</span></button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>



                </div>
            </div>
        </div>

    </div>

</div>
